<!-- This page displays a user's indivdual post i.e. the comment link. -->

<div class="row">
	<div class="span6 offset3">
		<div>
						<!-- Horizontal adsense code goes here -->
		</div>
	</div>
</div>

<div class="row">
	<div class="span6 offset3">
		<div class="box">
			<p>
			  <%= @post.description %>
			</p>
			<p>
			  <%= @post.user.username %>
			</p>
			<% if current_user == @post.user %>
				<%= link_to 'Edit', edit_post_path(@post) %> |
			<% end %>
			<%= link_to 'Back', root_path %>

				<br />
				<br />
				
		</div>
		
			<h3>Comments</h3>
					<div id="comments">
						<%= render :partial => @post.comments %>
					</div>
						<%= simple_form_for [@post, Comment.new] do |f| %>
				<p>
					<%= f.input :body, :label => "New Comment", as: :text, input_html: { rows: "3" } %>
				</p>
				<p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
				<% end %>
			
	</div>
</div>