<!-- This page displays a user's indivdual post i.e. the comment link. -->

<div class="row">
	<div class="span6 offset3">
		<div>
						<!-- Horizontal adsense code goes here -->
												<script type="text/javascript"><!--
						google_ad_client = "ca-pub-4864796179735765";
						/* JobConfessionHorizontal */
						google_ad_slot = "8237014547";
						google_ad_width = 728;
						google_ad_height = 90;
						//-->
						</script>
						<script type="text/javascript"
						src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
						</script>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6 offset3">
		<div class="box">
			<p>
			  <%=simple_format h @post.description %> <!-- Simple format to create paragraphs -->
			</p>
			<p>
			  Posted by <%= @post.user.username %> <%= time_ago_in_words(@post.created_at) %> ago
			</p>
			<% if current_user == @post.user %>
				<%= link_to 'Edit', edit_post_path(@post) %> |
			<% end %>
			<%= link_to 'Back', root_path %>

				<br />
				<br />  

				<!-- start Social Media buttons -->
				<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Google Plus -->
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="bubble"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
				<!-- end Social Media buttons -->

		</div>
		
			<h3>Comments</h3>
					<div id="comments">
						<%= render :partial => @post.comments %>
					</div>
						<%= simple_form_for [@post, Comment.new] do |f| %>
				<p>
					<%= f.input :body, :label => "New Comment", as: :text, input_html: { rows: "3" } %>
				</p>
				<p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
				<% end %>
			
	</div>
</div>