<div class="navbar">
  <div class="navbar-inner">
    <div class="container">


              <!-- Be sure to leave the brand out there if you want it shown -->
              <%= link_to "JobConfession", root_path, class: "brand" %>
 
              
                <!-- .nav, .navbar-search, .navbar-form, etc -->
                  <ul class="nav">
                   <li><%= link_to "About", about_path, class: "navcolor" %></li>
                   <li><%= link_to "FAQ", faq_path, class: "navcolor" %></li>
                  </ul>
          
           <ul class="nav pull-right">   
            <li>
              <div id="user_nav">
                <% if user_signed_in? %>
                <%= link_to new_post_path do %>
                <button class="btn-default btn btn-success">New Post</button>
                <% end %>
                &nbsp;<%= link_to edit_user_registration_path do %>
                <button class="btn-default btn btn-info">Edit Profile</button>
                <% end %>&nbsp;
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger btn-default' %>
                <% else %>
                <%= link_to new_user_registration_path do %>
                <button class="btn-default btn btn-info">Sign Up!</button>
                <% end %>
                &nbsp;<%= link_to new_user_session_path do %>
                <button class="btn btn-success btn-default">Sign In</button>
                <% end %>
                <% end %>
              </div>
            </li> 
          </ul>
    </div>
  </div>
</div>